amqp==5.0.6
Flask==1.1.2
Flask-RESTful==0.3.9
greenlet==1.1.1
idna==3.2
Jinja2==3.0.1
prompt-toolkit==3.0.19
python-http-client==3.3.3
requests==2.26.0
six==1.16.0
starkbank-ecdsa==1.1.1
wcwidth==0.2.5
Werkzeug==2.0.1
